@import "/src/scss/variables";

.categories {
  &__list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0;

    li {
      cursor: pointer;
      border-radius: 30px;
      padding: 16px 32px;
      margin-right: 9px;
      background: #f9f9f9;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
    .active {
      color: #ffffff;
      background: #282828;
    }
  }
}
