.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 35px;
  margin-bottom: 40px;
  border-bottom: 1px solid #f6f6f6;
  &__logo {
    display: flex;
    img {
      display: inline-block;
      max-width: 38px;
      margin-left: 5px;
    }
    div {
      display: flex;
      flex-direction: column;
      padding-left: 17px;
      h1 {
        padding: 0;
        margin: 0;
        line-height: 29px;
        font-size: 24px;
        color: #181818;
      }
      p {
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 19px;
        color: #7b7b7b;
      }
    }
  }
  &__cart {
    span:last-child {
      margin-left: 8px;
    }
  }
}
