@import "/src/scss/variables";

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1225px;
  margin: 0 auto;
}

.content {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    flex-wrap: wrap;
  }
  &--cart {
    max-width: 820px;
    margin: 0 auto;
    margin-top: 94px;
  }
}

.products__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 35px;
}
